<h1>Genres</h1>
<ul>
<% @genres.each do |genre| %>
  <li><%= link_to genre.name, genre_path(genre) %></li>
<% end %>
</ul>
<br>
<br>
<br>
<br>
<br>
<button type="button"><%= link_to "New Genre", new_genre_path %></button>
