<h1><%= @genre.name %></h1>



<%= button_to "Edit Genre", { :action => "edit" }, :method => :get %>





<h2>  <%#<%= link_to @related_songs.name, song_path(@related_songs) %></h2>



  <%# <%=link_to @related_songs.name, song_path(song) %>
