<% @artists.each do |artist| %>
<ul>
  <div><%=link_to artist.name, artist_path(artist) %></div>
  <div><%= artist.bio %></div>


</ul>
<% end %>

<%= button_to "Add Artist", { :action => "new" }, :method => :get %>
