<h1><%= @artist.name %></h1>
<p><%= @artist.bio %></p>
<br>
<br>
<br>
<br>
<br>
<button type="button"><%= link_to "Back", artists_path %></button>
<button type="button"><%= link_to "Edit", edit_artist_path(@artist) %></button>
